body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: rgb(0, 0, 0);
  width: 500px;
  border-radius: 16px;
  margin-top: 5px;
}

.row {
  display: flex;
}

.bottom-row{
  display: flex;
}