body {
  background-color: rgb(209, 203, 203);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: rgb(46, 39, 39);
  width: 500px;
  border-radius: 16px;
  margin-top: 5px;
}

.row {
  display: flex;
}

.bottom-row{
  display: flex;
}